{% extends 'layouts/layout_base.html' %}

{% block title %}
    Nueva Venta
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-12 text-center">
            <span class="bag-form badge badge-primary">Formulario - Venta</span>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <form method="post" class="form">
            {% csrf_token %}

            {{ form.as_p }}
            <div class="btn-save">
            <button class="btn btn-primary btn-lg" type="submit" >Guardar</button>
            </div>
            </form>
        </div>
    </div>


{% endblock content %}